<div class="oojs-skeleton oojs-skeleton--calendar">
	<div class="oojs-skeleton--toolbar">
		<div class="oojs-skeleton--toolbar-btn"></div>
		<div class="oojs-skeleton--toolbar-btn"></div>
		<div class="oojs-skeleton--toolbar-btn"></div>
	</div>
	<div class="oojs-skeleton--table">
		<div class="oojs-skeleton--table-head">
			<div class="oojs-skeleton--row">
				<div class="oojs-skeleton--cell" style="width: 14%; margin: 20px 6px 10px 6px;"></div>
				<div class="oojs-skeleton--cell" style="width: 14%; margin: 20px 6px 10px 6px;"></div>
				<div class="oojs-skeleton--cell" style="width: 14%; margin: 20px 6px 10px 6px;"></div>
				<div class="oojs-skeleton--cell" style="width: 14%; margin: 20px 6px 10px 6px;"></div>
				<div class="oojs-skeleton--cell" style="width: 14%; margin: 20px 6px 10px 6px;"></div>
				<div class="oojs-skeleton--cell" style="width: 14%; margin: 20px 6px 10px 6px;"></div>
				<div class="oojs-skeleton--cell" style="width: 14%; margin: 20px 6px 10px 6px;"></div>
			</div>
		</div>
		<div class="oojs-skeleton--table-body">
			<div class="oojs-skeleton--row">
				<div class="oojs-skeleton--cell" style="width: 14%; margin: 16px 6px;"></div>
				<div class="oojs-skeleton--cell" style="width: 14%; margin: 16px 6px;"></div>
				<div class="oojs-skeleton--cell" style="width: 14%; margin: 16px 6px;"></div>
				<div class="oojs-skeleton--cell" style="width: 14%; margin: 16px 6px;"></div>
				<div class="oojs-skeleton--cell" style="width: 14%; margin: 16px 6px;"></div>
				<div class="oojs-skeleton--cell" style="width: 14%; margin: 16px 6px;"></div>
				<div class="oojs-skeleton--cell" style="width: 14%; margin: 16px 6px;"></div>
			</div>
			<div class="oojs-skeleton--row">
				<div class="oojs-skeleton--cell" style="width: 14%; margin: 16px 6px;"></div>
				<div class="oojs-skeleton--cell" style="width: 14%; margin: 16px 6px;"></div>
				<div class="oojs-skeleton--cell" style="width: 14%; margin: 16px 6px;"></div>
				<div class="oojs-skeleton--cell" style="width: 14%; margin: 16px 6px;"></div>
				<div class="oojs-skeleton--cell" style="width: 14%; margin: 16px 6px;"></div>
				<div class="oojs-skeleton--cell" style="width: 14%; margin: 16px 6px;"></div>
				<div class="oojs-skeleton--cell" style="width: 14%; margin: 16px 6px;"></div>
			</div>
			<div class="oojs-skeleton--row">
				<div class="oojs-skeleton--cell" style="width: 14%; margin: 16px 6px;"></div>
				<div class="oojs-skeleton--cell" style="width: 14%; margin: 16px 6px;"></div>
				<div class="oojs-skeleton--cell" style="width: 14%; margin: 16px 6px;"></div>
				<div class="oojs-skeleton--cell" style="width: 14%; margin: 16px 6px;"></div>
				<div class="oojs-skeleton--cell" style="width: 14%; margin: 16px 6px;"></div>
				<div class="oojs-skeleton--cell" style="width: 14%; margin: 16px 6px;"></div>
				<div class="oojs-skeleton--cell" style="width: 14%; margin: 16px 6px;"></div>
			</div>
			<div class="oojs-skeleton--row">
				<div class="oojs-skeleton--cell" style="width: 14%; margin: 16px 6px;"></div>
				<div class="oojs-skeleton--cell" style="width: 14%; margin: 16px 6px;"></div>
				<div class="oojs-skeleton--cell" style="width: 14%; margin: 16px 6px;"></div>
				<div class="oojs-skeleton--cell" style="width: 14%; margin: 16px 6px;"></div>
				<div class="oojs-skeleton--cell" style="width: 14%; margin: 16px 6px;"></div>
				<div class="oojs-skeleton--cell" style="width: 14%; margin: 16px 6px;"></div>
				<div class="oojs-skeleton--cell" style="width: 14%; margin: 16px 6px;"></div>
			</div>
			<div class="oojs-skeleton--row">
				<div class="oojs-skeleton--cell" style="width: 14%; margin: 16px 6px;"></div>
				<div class="oojs-skeleton--cell" style="width: 14%; margin: 16px 6px;"></div>
				<div class="oojs-skeleton--cell" style="width: 14%; margin: 16px 6px;"></div>
				<div class="oojs-skeleton--cell" style="width: 14%; margin: 16px 6px;"></div>
				<div class="oojs-skeleton--cell" style="width: 14%; margin: 16px 6px;"></div>
				<div class="oojs-skeleton--cell" style="width: 14%; margin: 16px 6px;"></div>
				<div class="oojs-skeleton--cell" style="width: 14%; margin: 16px 6px;"></div>
			</div>
			<div class="oojs-skeleton--row">
				<div class="oojs-skeleton--cell" style="width: 14%; margin: 16px 6px;"></div>
				<div class="oojs-skeleton--cell" style="width: 14%; margin: 16px 6px;"></div>
				<div class="oojs-skeleton--cell" style="width: 14%; margin: 16px 6px;"></div>
				<div class="oojs-skeleton--cell" style="width: 14%; margin: 16px 6px;"></div>
				<div class="oojs-skeleton--cell" style="width: 14%; margin: 16px 6px;"></div>
				<div class="oojs-skeleton--cell" style="width: 14%; margin: 16px 6px;"></div>
				<div class="oojs-skeleton--cell" style="width: 14%; margin: 16px 6px;"></div>
			</div>
		</div>
	</div>
</div>
